.btn {
  display: inline-flex;
  vertical-align: baseline;
  padding: 10px 20px;
  color: $color-default-black;
  background-color: $color-alice-blue;
  border: none;
  cursor: pointer;
  user-select: none;
  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover {
    opacity: 0.8;
  }
}
