.catalog__wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding: 85px clamp(30px, $wrapper-padding-desktop, 110px) 120px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include vp-1023 {
    padding: 90px clamp(10px, $padding-tablet, 45px) 100px;
  }

  h2 {
    padding: 0;
    margin: 0 0 49px 0;
    font-weight: 600;
    font-size: 28px;
    line-height: 150%;

    @include vp-1023 {
      font-size: 26px;
    }
  }
}

.catalog__list {
  margin: 0;
  padding: 0 15px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 23%);
  column-gap: 2.65%;
  row-gap: 30px;

  @include vp-1023 {
    grid-template-columns: repeat(2, 47.7%);
    column-gap: 4.6%;
  }
}

.catalog__item {
  padding: 23px clamp(5px, $catalog-item-padding-desktop, 30px);
  display: flex;
  align-items: flex-end;
  height: 386px;
  background-color: $color-maya-blue;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 360px;

  @include vp-max {
    @include hover {
      padding: 28px clamp(5px, $catalog-item-hover-padding-desktop, 30px) 35px;
      background: $color-tangaroa;
      box-shadow: 0 4px 35px rgba(1, 28, 64, 0.15);
      align-items: flex-start;
      flex-direction: column;

      h3 {
        margin-bottom: 14px;
      }

      .catalog__item-info {
        @include visually-hidden-off;
        height: 282px;
        overflow: auto;
        max-width: 100%;
      }

      .catalog__item-list {
        flex: auto;
      }

      a {
        visibility: visible;
      }
    }
  }

  @include vp-1023 {
    padding: 23px clamp(5px, $catalog-item-padding-desktop, 35px) 28px;

    @include hover {
      padding: 28px clamp(5px, $catalog-item-hover-padding-tablet, 38px) 35px;
      box-shadow: none;
    }
  }

  h3 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: $color-alice-blue;
  }

  &--astoria,
  &--eline {
    background-image:
      image-set(
        "../img/cruise-1.webp" 1x,
        "../img/cruise-1.jpg" 1x
      );

    @include retina {
      background-image:
        image-set(
          "../img/cruise-1@2x.webp" 2x,
          "../img/cruise-1@2x.jpg" 2x
        );
    }
    background-position: top left -166px;

    @include vp-1023 {
      background-position: top left -143px;
    }
  }

  &--atlantis {
    background-image:
      image-set(
        "../img/cruise-3.webp" 1x,
        "../img/cruise-3.jpg" 1x
      );

    @include retina {
      background-image:
        image-set(
          "../img/cruise-3@2x.webp" 2x,
          "../img/cruise-3@2x.jpg" 2x
        );
    }
    background-position: top left -127px;

    @include vp-1023 {
      background-position: top left -102px;
    }
  }

  &--odissey {
    background-image:
      image-set(
        "../img/cruise-4.webp" 1x,
        "../img/cruise-4.jpg" 1x
      );

    @include retina {
      background-image:
        image-set(
          "../img/cruise-4@2x.webp" 2x,
          "../img/cruise-4@2x.jpg" 2x
        );
    }

    background-position: top left -119px;

    @include vp-1023 {
      background-image:
      image-set(
        "../img/cruise-4-2.webp" 1x,
        "../img/cruise-4-2.jpg" 1x
      );

      @include retina {
        background-image:
          image-set(
            "../img/cruise-4-2@2x.webp" 2x,
            "../img/cruise-4-2@2x.jpg" 2x
          );
      }
      background-position: top left -108px;
    }
  }

  &--olympia {
    background-image:
      image-set(
        "../img/cruise-5.webp" 1x,
        "../img/cruise-5.jpg" 1x
      );

    @include retina {
      background-image:
        image-set(
          "../img/cruise-5@2x.webp" 2x,
          "../img/cruise-5@2x.jpg" 2x
        );
    }

    background-size: auto;
    background-position: top left -116px;

    @include vp-1023 {

      background-image:
      image-set(
        "../img/cruise-5-2.webp" 1x,
        "../img/cruise-5-2.jpg" 1x
      );

    @include retina {
      background-image:
        image-set(
          "../img/cruise-5-2@2x.webp" 2x,
          "../img/cruise-5-2@2x.jpg" 2x
        );
    }

      background-position: top left -144px;
    }
  }

  &--aurora {
    background-image:
      image-set(
        "../img/cruise-6.webp" 1x,
        "../img/cruise-6.jpg" 1x
      );

    @include retina {
      background-image:
        image-set(
          "../img/cruise-6@2x.webp" 2x,
          "../img/cruise-6@2x.jpg" 2x
        );
    }

    background-position: top left -107px;

    @include vp-1023 {
      background-position: top left -101px;
    }
  }

  &--leonor {
    background-image:
      image-set(
        "../img/cruise-7.webp" 1x,
        "../img/cruise-7.jpg" 1x
      );

    @include retina {
      background-image:
        image-set(
          "../img/cruise-7@2x.webp" 2x,
          "../img/cruise-7@2x.jpg" 2x
        );
    }
    background-position: top left -146px;

    @include vp-1023 {
      background-image:
        image-set(
          "../img/cruise-7-2.webp" 1x,
          "../img/cruise-7-2.jpg" 1x
        );

      @include retina {
        background-image:
          image-set(
            "../img/cruise-7-2@2x.webp" 2x,
            "../img/cruise-7-2@2x.jpg" 2x
          );
      }

      background-position: top left -174px;
    }
  }

  &--minion-1 {
    background-image:
      image-set(
        "../img/cruise-8.webp" 1x,
        "../img/cruise-8.jpg" 1x
      );

    @include retina {
      background-image:
        image-set(
          "../img/cruise-8@2x.webp" 2x,
          "../img/cruise-8@2x.jpg" 2x
        );
    }

    background-position: top left -178px;

    @include vp-1023 {
      background-image:
        image-set(
          "../img/cruise-8-2.webp" 1x,
          "../img/cruise-8-2.jpg" 1x
        );

      @include retina {
        background-image:
          image-set(
            "../img/cruise-8-2@2x.webp" 2x,
            "../img/cruise-8-2@2x.jpg" 2x
          );
      }

      background-position: top left -212px;
    }
  }
}

.catalog__item-info {
  @include visually-hidden;

  display: flex;
  flex-direction: column;
  flex: auto;
  color: $color-alice-blue;

  h4 {
    padding: 0;
    margin: 0 0 2px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
  }

  p {
    padding: 0;
    margin: 0 0 12px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    word-wrap: break-word;
  }

  a {
    visibility: collapse;
    outline-offset: -2px;
    display: flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    padding: 9px 46px 10px 47px;
    margin: 0;
    background-color: $color-alice-blue;
    color: $color-tangaroa;
    justify-content: center;
  }
}


.catalog__item-list {
  padding: 0;
  margin: 0;

  h5 {
    padding: 0;
    margin: 0 0 2px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
  }

  p {
    padding: 0;
    margin: 0 0 11px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }
}
