.promo {
  background-color: $color-maya-blue;

  background-image:
    image-set(
      "../img/promo.webp" 1x,
      "../img/promo.jpg" 1x
    );

  @include retina {
    background-image:
      image-set(
        "../img/promo@2x.webp" 2x,
        "../img/promo@2x.jpg" 2x
      );
  }

  background-position: top -188px left;
  background-repeat: no-repeat;
  background-size: cover;

  @include vp-1366 {
    background-size: 1366px;
  }

  @include vp-799 {
    background-position: top left -41px;
    background-size: 850px;
  }
}

.promo__wrapper {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  padding: 271px clamp(30px, $padding-desktop, 110px) 277px clamp(30px, $padding-desktop-promo, 200px);
  color: $color-alice-blue;
  z-index: 1;
  box-shadow: 0 8px 4px -4px $color-transparent-2;

  @include vp-1023 {
    box-shadow: none;
    padding: 268px clamp(10px, $padding-tablet, 45px) 275px;
  }

  h1 {
    padding: 0;
    margin: 0 0 12px 0;
    font-weight: 700;
    font-size: 54px;
    line-height: 122%;
    text-shadow: 0 4px 4px $color-transparent-2;

    @include vp-1023 {
      text-shadow: none;
      font-size: 50px;
    }
  }

  p {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    text-shadow: 0 4px 4px $color-transparent-2;

    @include vp-1023 {
      text-shadow: none;
      font-size: 18px;
    }
  }
}
