// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-neon-blue:                   #2c39f2;
$color-torch-red:                   #ff1553;

$color-alice-blue:                  #f9fbfd;
$color-maya-blue:                   #78bcfc;
$color-tangaroa:                    #011c40;
$color-solitude:                    #e3ecf6;
$color-dark-goldenrod:              #b77900;
$color-transparent-2:               rgba(0, 0, 0, 0.25);
$color-transparent-3:               rgba(1, 28, 64, 0.7);
$color-transparent-4:               rgba(1, 28, 64, 0);
$color-transparent-5:               rgba(0, 43, 102, 0.5);

// Gradient

$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);


// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble:                         "Rouble", "Arial", sans-serif;
$ff-placeholder:                    "Placeholder", "Arial", sans-serif;
$ff-montserrat:                     "Montserrat", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-800:                            800px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1366:                           1366px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;

// резиновая верстка
$padding-desktop: percentage(calc(70 / 1366));
$padding-desktop-2: percentage(calc(103 / 1366));
$padding-desktop-3: percentage(calc(143 / 1366));
$padding-tablet: percentage(calc(45 / 768));
$padding-mobile: percentage(calc(15 / 320));
$padding-desktop-promo: percentage(calc(198 / 1366));
$padding-desktop-feedback: percentage(calc(163 / 1366));
$catalog-item-padding-desktop: percentage(calc(30 / 260));
$catalog-item-padding-tablet: percentage(calc(35 / 309));
$catalog-item-hover-padding-desktop: percentage(calc(25 / 260));
$catalog-width-mobile: percentage(calc(270 / 300));

$card-height: 386;
$catalog-card-height-desktop: calc(($card-height/1366) * 100vw);
$catalog-card-height-tablet: calc(($card-height/768) * 100vw);
$catalog-card-height-mobile: calc(($card-height/320) * 100vw);

$header-width-mobile: 100 - percentage(calc(285 / 320));
$header-width-mobile-2: percentage(calc(285 / 320));
$header-mobile-gradient:             linear-gradient(90deg, rgba(0, 43, 102, 0.5) 0%, rgba(0, 43, 102, 0.5) $header-width-mobile, rgba(249, 251, 253, 1) $header-width-mobile);
